[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
facialattendance = {file = "."}
cmake = "*"
face-recognition = "*"
opencv-python = "*"
dlib = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.12"
