[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
facialattendance = {file = "."}
dlib = "*"
pytest = "*"
cmake = "*"
face-recognition = "*"
pydantic = "*"
face-recognition-models = {git = "https://github.com/ageitgey/face_recognition_models"}
setuptools = "*"
opencv-python = "*"
pymongo = {extras = ["srv"], version = "*"}
pandas = "*"
pyarrow = "*"
pymongoose = "*"

[dev-packages]

[requires]
python_version = "3.12"
