[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
facialattendance = {file = "."}
opencv-python = "*"
dlib = "*"
pytest = "*"
cmake = "*"
face-recognition = "*"

[dev-packages]

[requires]
python_version = "3.12"
